@model GymModels.FitnessClassSchedule

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FitnessClassSchedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="ClassId" class="control-label"></label>
                <input asp-for="ClassId" class="form-control" />
                <span asp-validation-for="ClassId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="ClassName" class="control-label"></label>
                <input asp-for="ClassName" class="form-control" />
                <span asp-validation-for="ClassName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassWeekDay" class="control-label"></label>
                <input asp-for="ClassWeekDay" class="form-control" />
                <span asp-validation-for="ClassWeekDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassStartTime" class="control-label"></label>
                <input asp-for="ClassStartTime" class="form-control" />
                <span asp-validation-for="ClassStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassDuration" class="control-label"></label>
                <input asp-for="ClassDuration" class="form-control" />
                <span asp-validation-for="ClassDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassStudioId" class="control-label"></label>
                <input asp-for="ClassStudioId" class="form-control" />
                <span asp-validation-for="ClassStudioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassInstrId" class="control-label"></label>
                <input asp-for="ClassInstrId" class="form-control" />
                <span asp-validation-for="ClassInstrId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
